body {
    background-color: rgb(92, 92, 92);
    color: white;
}
#divPrograms {
    text-align: center;
}
#JSCleaner {
    margin-bottom: 15px;
}
#DiscordFakeGame {
    margin-bottom: 50px
}
#back {
    text-align: center;
}
#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 20px;
    background: rgb(92, 92, 92);
 }