body {
    background-color: rgb(92, 92, 92);
    font: normal 12pt Arial;
    color: white;
}
#divBack {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 20px;
    background: rgb(92, 92, 92);
}
.breakable-text {
    display: inline;
    white-space: no-wrap;
}
.breakable-textX {
    display: inline;
    white-space: no-wrap;
    color: red;
}