body {
    background-color: #1a1a1a; /* Cinza escuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte daora */
    color: #fff; /* Branco */
    margin: 0;
    padding: 0;
}

/* Estilos para as seções */
header, section, .button-container, .update-container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-weight: bold;
    color: #00bcd4; /* Azul claro */
}

/* Botões */
.button-container input[type="button"] {
    padding: 10px 20px;
    background-color: #4caf50; /* Verde */
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

/* Rodapé */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #333; /* Cinza escuro */
    line-height: 50px;
    color: #fff;
}

/* Estilos específicos para programas */
#divPrograms {
    text-align: center;
}

#DiscordFakeGame,
#JSCleaner,
#JSPScreen,
#JSCPSTester {
    margin-bottom: 15px;
}

#back {
    text-align: center;
}

/* Estilos específicos para projetos */
#divProjects {
    text-align: center;
}

#JSCaptcha {
    margin-bottom: 15px;
}

/* Footer comum */
#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #333; /* Cinza escuro */
    line-height: 50px;
    color: #fff;
}
