body {
    background-color: rgb(92, 92, 92);
    font: normal 12pt Arial;
    color: white;
}
#divPrograms {
    text-align: center;
}
#divWebUpdates {
    text-align: center;
}
#footer {
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 99%;
   height: 20px;
   background: rgb(92, 92, 92);
}